.desktop-header{
    position: fixed;
    top: 32px;
    left: 32px;
    right: 32px;
    background-color: rgba(0,0,0, 0.3);

    padding: 32px;
    border-radius: 16px;

    display: flex;
    color: var(--text-col);
    justify-content: space-between;

    backdrop-filter: blur(32px);
    
    -webkit-box-shadow: 0px 4px 8px 0px #000000; 
    box-shadow: 0px 4px 8px 0px #000000;
    
    > nav{
        align-items: center;
        display: flex;
        gap: 16px;
    }

}

.logo{
    display: flex;
 
    align-items: center;
    gap: 16px;
    > img {
        width: 100px;
    }
    >h1{
        font-size: 32px;
    }
}

.nav-link{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 28px;
}
.nav-link.active:not(.primary-btn){
    color: var(--primary-col);
}


@media only screen and (max-width: 890px){
    .desktop-header{
        display: none;
    }
}