.hero-banner{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-size: cover;
    background-position: center;

    color: white;
    text-shadow: 0px 4px 8px rgba(0,0,0,1);
    flex-direction: column;

    > h1{
        font-size: clamp(22px, 5vw , 70px);
    }
    > h2{
        font-size: clamp(18px, 3vw , 50px)
    }
}
