.ArticleBoxTitle{

}

.articleThumb{
    display: flex;
    flex-direction: column;
    background-color: rgba(black, black, black, 0.3);
    border: 2px solid pink;
    height: fit-content;
    width: 250px;
    padding: 25px;


    color: white;
}

.ArticleBoxDesc{
    margin: 10px;
    
}

.ArticleBoxTitle{
    color: white;
    font-weight: 800;
    font-size: larger;
}
.ArticleLink{
    justify-self: flex-end;
    align-self: flex-end;
    border: 2px solid red;
    background-color: red;
    color: white;
    text-decoration: none;
}