:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-col: #C10000;
  --dark-blue: #072034;
  --text-col: #FFFFFF;
  --bg-col: #020913;


  background-color: var(--bg-col);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {

  margin: 0;

  box-sizing: border-box;
}

#root {

  display: flex;

  flex-direction: column;

  min-height: 100vh;

  width: 100%;

}

.primary-btn{
  color: var(--text-col);
  background-color: var(--primary-col);
  padding: 4px 16px;
  border-radius: 4px;
}