.ArticlesSection{

    min-height: 500px;
    padding: 30px;

    background: 
    linear-gradient(180deg,var(--bg-col) 0%, rgba(0,0,0,0) 30%),
    url(../../assets/iceberg.png);

    background-size: cover;
    background-position: center top ;

    display: grid;
    flex-direction: column;
    gap: 32px;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: auto;



}
.LineBoxForIceberg{
    height: 2px;
    border: 2px solid grey;
    width: 100vh;

    justify-self: center;
}
.IceBurgTitle{
    color: white;
    justify-self: center;
    margin: 10px;
}